.quantity_inner * {
    box-sizing: border-box;
}
.quantity_inner {
    display: flex;
    justify-content: center;
}
.quantity_inner .bt_minus,
.quantity_inner .bt_plus,
.quantity_inner .quantity {
    color: #000000;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 3px 2px;
    border-radius: 5px;
    border: 1px solid #857777;
    background: #c7c8cb;
    cursor: pointer;
    outline: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
}
.quantity_inner .quantity {
    width: 50px;
    text-align: center;
    font-size: 16px;
    color: #000000;
    font-family:Menlo,Monaco,Consolas,"Courier New",monospace;
}
